@model Boletín informativoBoxModel
@using Nop.Web.Models.Boletín informativo;
<div class="Boletín informativo">
    <div class="title">
        <strong>@T("Boletín informativo.Title")</strong>
    </div>
    <div class="Boletín informativo-subscribe" id="Boletín informativo-subscribe-block">
        <div class="Boletín informativo-email">
            @Html.TextBoxFor(x => x.Boletín informativoEmail, new { id = "Boletín informativo-email", @class = "Boletín informativo-subscribe-text", placeholder = T("Boletín informativo.Email.Placeholder") })
            <input type="button" value="@T(Model.AllowToUnsubscribe ? "Boletín informativo.Options.Send" : "Boletín informativo.Options.Subscribe")" id="Boletín informativo-subscribe-button" class="button-1 Boletín informativo-subscribe-button" />
            @if (Model.AllowToUnsubscribe)
            {
                <div class="options">
                    <span class="subscribe">
                        <input id="Boletín informativo_subscribe" type="radio" value="Boletín informativo_subscribe" name="Boletín informativo_block" checked="checked" />
                        <label for="Boletín informativo_subscribe">@T("Boletín informativo.Options.Subscribe")</label>
                    </span>
                    <span class="unsubscribe">
                        <input id="Boletín informativo_unsubscribe" type="radio" value="Boletín informativo_unsubscribe" name="Boletín informativo_block" />
                        <label for="Boletín informativo_unsubscribe">@T("Boletín informativo.Options.Unsubscribe")</label>
                    </span>
                </div>
            }
        </div>
        <div class="Boletín informativo-validation">
            <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.ValidationMessageFor(x => x.Boletín informativoEmail)
        </div>
    </div>
    <div class="Boletín informativo-result" id="Boletín informativo-result-block"></div>
    <script type="text/javascript">
        function Boletín informativo_subscribe(subscribe) {
            var subscribeProgress = $("#subscribe-loading-progress");
            subscribeProgress.show();
            var postData = {
                subscribe: subscribe,
                email: $("#Boletín informativo-email").val()
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeBoletín informativo"))",
                data: postData,
                success: function(data) {
                    subscribeProgress.hide();
                    $("#Boletín informativo-result-block").html(data.Result);
                    if (data.Success) {
                        $('#Boletín informativo-subscribe-block').hide();
                        $('#Boletín informativo-result-block').show();
                    } else {
                        $('#Boletín informativo-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to subscribe.');
                    subscribeProgress.hide();
                }
            });
        }

        $(document).ready(function () {
            $('#Boletín informativo-subscribe-button').click(function () {
                @if (Model.AllowToUnsubscribe)
                {
                    <text>if ($('#Boletín informativo_subscribe').is(':checked')) {
                        Boletín informativo_subscribe('true');
                    } else {
                        Boletín informativo_subscribe('false');
                    }</text>
                }
                else
                {
                    <text>Boletín informativo_subscribe('true');</text>
                }
            });
            $("#Boletín informativo-email").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#Boletín informativo-subscribe-button").click();
                    return false;
                }
            });
        });
    </script>
</div>
