@model ContactUsModel
    @using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
   
}
@{
    Html.AddCssFileParts("~/Scripts/bootstrap/css/bootstrap.css");
    Html.AddCssFileParts("~/Scripts/css/font-awesome.css");
    Html.AddCssFileParts("~/Scripts/css/bootstrap-select.css");
    Html.AddCssFileParts("~/Scripts/css/style.teal.flat.css");

    Html.AddScriptParts("~/Scripts/js/jquery.js");
    Html.AddScriptParts("~/Scripts/bootstrap/js/bootstrap.js");
    Html.AddScriptParts("~/Scripts/js/bootstrap-select.js");
    Html.AddScriptParts("~/Scripts/js/bootstrap3-typeahead.js");
    Html.AddScriptParts("~/Scripts/js/bootstrap-toolkit.js");
    Html.AddScriptParts("~/Scripts/js/mimity.js");
}

@section Styles {
 <link href="@Url.Content("~/Scripts/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/css/font-awesome.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/css/bootstrap-select.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/css/style.teal.flat.css")" rel="stylesheet" type="text/css" />
}

<head>
    <link href="@Url.Content("~/Scripts/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/css/bootstrap-select.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/css/style.teal.flat.css")" rel="stylesheet" type="text/css" />
</head>

<div class="product-grid home-page-product-grid">
    <div class="title">
        <strong>@T("HomePage.Products")</strong>
    </div>
    <div class="page-body">
        <!-- Breadcrumbs -->
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li class="active">Acerca de Nosotros</li>
                </ol>
            </div>
        </div>
        <!-- End Breadcrumbs -->
        <!-- Main Content -->
        <div class="container m-t-3">
            <div class="row">

                <!-- Content -->
                <div class="col-sm-9">
                    <div class="title"><span>Acerca de Nosotros</span></div>
                    <img src="~/Scripts/images/demo/team.jpg" alt="Our Team" class="img-thumbnail m-b-2">
                    <p class="desc">
                    <p class=MsoNormal style='text-align:justify'>
                        <b style='mso-bidi-font-weight:
normal'>
                            <span lang=ES-CO style='font-size:12.0pt;line-height:107%;font-family:
"Arial",sans-serif'>¿Quiénes somos?<o:p></o:p></span>
                        </b>
                    </p>

                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;margin-left:0cm;
text-align:justify;background:white'>
                        <span lang=ES style='font-family:"Arial",sans-serif'>
                            TECNO
                            SHOP AND SERVICE es una empresa dedicada a los servicios y distribución de
                            tecnología orientada a la educación, a la industria, al entretenimiento y
                            desarrollos electrónicos que suplan las necesidades de nuestros clientes.
                            Ofreciendo una amplia gama de equipos de cómputo y sus accesorios, circuitos
                            integrados, kits para la enseñanza, entre otros.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify'>
                        <span lang=ES-CO
                              style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
                    </p>

                    <p class=MsoNormal style='text-align:justify'>
                        <b style='mso-bidi-font-weight:
normal'>
                            <span lang=ES-CO style='font-size:12.0pt;line-height:107%;font-family:
"Arial",sans-serif'>Misión:<o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal style='text-align:justify'>
                        <span lang=ES-CO
                              style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>
                            Suministrar
                            soluciones tecnológicas a nuestros clientes con nuestros productos y servicios,
                            definidos por la innovación y los desarrollos de la tecnología, acompañados de
                            buenos estándares y al acomodo de cada uno.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal style='text-align:justify'>
                        <span lang=ES-CO
                              style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
                    </p>

                    <p class=MsoNormal style='text-align:justify'>
                        <b style='mso-bidi-font-weight:
normal'>
                            <span lang=ES-CO style='font-size:12.0pt;line-height:107%;font-family:
"Arial",sans-serif'>Visión:<o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal style='text-align:justify'>
                        <span lang=ES-CO
                              style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>
                            Nuestra
                            empresa ofrecerá la oportunidad de brindar lo último en tecnología para
                            diversas áreas comerciales siendo el mejor aliado de hogares, empresas y
                            universidades a la hora de emprender sus proyectos.<o:p></o:p>
                        </span>
                    </p>
                    </p>
                    @*<div class="panel-group Preguntas frecuentes-panel m-t-2" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Collapsible Group Item #3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <address>
                        <strong>Ubicación.</strong><br>
                        Estamos ubicados en la ciudad de Medellín, Antioquia.<br>
                        <abbr title="Teléfono">Tel:</abbr> 300 356 7890
                    </address>
                    @*<address>
                        <strong>Full Name</strong><br>
                        <a href="mailto:cs@domain.tld">Owner</a>
                    </address>*@
                </div>
                <!-- End Content -->

                <div class="clearfix visible-xs m-b-2"></div>

      

            </div>
        </div>
        <!-- End Main Content -->
    </div>
</div>



