@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
@{
    Html.AddCssFileParts("~/Scripts/css/font-awesome.css");
    Html.AddCssFileParts("~/Scripts/css/bootstrap-select.css");
    Html.AddCssFileParts("~/Scripts/css/owl.carousel.css");
    Html.AddCssFileParts("~/Scripts/css/owl.theme.default.css");
    Html.AddCssFileParts("~/Scripts/css/style.teal.flat.css");
    Html.AddCssFileParts("~/Scripts/bootstrap/css/bootstrap.css");

    Html.AddScriptParts("~/Scripts/js/jquery.js");
    Html.AddScriptParts("~/Scripts/bootstrap/js/bootstrap.js");
    Html.AddScriptParts("~/Scripts/js/bootstrap-select.js");
    Html.AddScriptParts("~/Scripts/js/owl.carousel.js");
    Html.AddScriptParts("~/Scripts/js/bootstrap3-typeahead.js");
    Html.AddScriptParts("~/Scripts/js/bootstrap-toolkit.js");
    Html.AddScriptParts("~/Scripts/js/mimity.js");
}

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Acerca de nosotros</span></div>
                <ul>
                    <li>
                        Estamos ubicados en Medellín, ofrecemos productos... <a href="@Url.Action("AboutBussiness", "Common")">Read More</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Información</span></div>
                <ul>
                    <li><i class="fa fa-angle-double-right"></i> <a href="@Url.Action("TermsandConditions", "Common")">Preguntas frecuentes</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="@Url.Action("TermsandConditions", "Common")">Políticas de privacidad</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="@Url.Action("TermsandConditions", "Common")">Terminos y Condiciones</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="@Url.Action("TermsandConditions", "Common")">Formas de envío</a></li>
                </ul>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Categorías</span></div>
                <ul>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Portátiles</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Todo en Uno</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Tablets</a></li>
                    <li><i class="fa fa-angle-double-right"></i> <a href="#">Pc de Escritorio</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Newsletter</span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, soluta, tempora, ipsa voluptatibus porro vel laboriosam</p>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Email Address">
                    <span class="input-group-btn">
                        <button class="btn btn-default subscribe-button" type="button">Subscribe</button>
                    </span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Nuestra tienda</span></div>
                <ul class="footer-icon">
                    <li><span><i class="fa fa-map-marker"></i></span> 212 Lorem Ipsum. Dolor Sit, Amet</li>
                    <li><span><i class="fa fa-phone"></i></span> +57 319 355 4837</li>
                    <li><span><i class="fa fa-envelope"></i></span> <a href="mailto:tecnoshopandservice@gmail.com">tecnoshopandservice@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Síguenos</span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum</p>
                <ul class="follow-us">
                    <li><a href="https://www.facebook.com/tecnoshopandservices"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/TecnoShopandSer"><i class="fa fa-twitter"></i></a></li>
                    @*<li><a href="#"><i class="fa fa-google-plus"></i></a></li>*@
                    <li><a href="https://www.instagram.com/Tecnoshopandservices/"><i class="fa fa-instagram"></i></a></li>
                    @*<li><a href="#"><i class="fa fa-rss"></i></a></li>*@
                </ul>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Formas de pago</span></div>
                <p>Los productos  y  servicios ofrecidos de bienes o sitios son los siguientes : <a href="@Url.Action("TermsandConditions", "Common")">Read More</a></</p>
                <img src="~/Scripts/images/payment-1.png" alt="Payment-1">
                <img src="~/Scripts/images/payment-2.png" alt="Payment-2">
                <img src="~/Scripts/images/payment-3.png" alt="Payment-3">
                <img src="~/Scripts/images/payment-4.png" alt="Payment-4">
                <img src="~/Scripts/images/payment-5.png" alt="Payment-5">
            </div>
            

            <div class="col-md-3 col-sm-6">
                <div class="title-footer"><span>Mi cuenta</span></div>

                <ul class="list">
                    <li><i class="fa fa-angle-double-right"></i><a href="@Url.RouteUrl("CustomerInfo")">Mi cuenta</a></li>
                    <li><i class="fa fa-angle-double-right"></i><a href="@Url.RouteUrl("CustomerOrders")">Ordenes</a></li>
                    <li><i class="fa fa-angle-double-right"></i><a href="@Url.RouteUrl("CustomerAddresses")">Dirección Cliente</a></li>
                    @if (Model.ShoppingCartEnabled)
                    {
                        <li><i class="fa fa-angle-double-right"></i><a href="@Url.RouteUrl("ShoppingCart")">Carrito de compras</a></li>
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount)
                    {
                        <li><i class="fa fa-angle-double-right"></i><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <li><i class="fa fa-angle-double-right"></i><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center copyright">
        Copyright &copy; 2018 Tecnoshop&Services All right reserved
    </div>
</div>