.@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page">
    @Html.Action("AdminHeaderLinks", "Common")
    @Html.Partial("Header")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
  
    <div class="master-wrapper-content">
        @Html.Widget("content_before")
        
        <div class="master-column-wrapper">
            <!-- Content-->
            <!-- Breadcrumbs -->
            <div class="breadcrumb-container">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Inicio</a></li>
                        <li class="active">Políticas de Privacidad</li>
                    </ol>
                </div>
            </div>
            <!-- End Breadcrumbs -->
            <!-- Main Content -->
            <div class="container m-t-3">
                <div class="row">

                    <!-- Content -->
                    <div class="col-sm-8">



                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'><span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;mso-outline-level:
1;background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-font-kerning:18.0pt;mso-fareast-language:ES'>
                                    POLÍTICA DE
                                    PRIVACIDAD
                                </span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif'>TECNO SHOP AND SERVICES<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;mso-outline-level:
1;background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-font-kerning:18.0pt;mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                            </b>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
15.0pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
1;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-font-kerning:18.0pt;mso-fareast-language:
ES'>
                                    <span style='mso-list:Ignore'>
                                        1.<span style='font:7.0pt "Times New Roman"'>
                                            &nbsp;&nbsp;&nbsp;
                                        </span>
                                    </span>
                                </span>
                            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;mso-fareast-language:ES'>
                                    QUIEN ES
                                    RESPONSABLE DE LA PROTECCIÓN DE TU INFORMACIÓN PERSONAL<span style='mso-font-kerning:
18.0pt'><o:p></o:p></span>
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif'>TECNO SHOP AND SERVICES</span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>
                                ,&nbsp;domiciliada en Bello,
                                Antioquia es la responsable del tratamiento de datos para este sitio Web, según
                                la ley holandesa de protección de datos personales (<span class=SpellE>Wet</span>
                                <span class=SpellE>bescherming</span> <span class=SpellE>persoonsgegevens</span>).
                                Para todas las aplicaciones (móviles) que se refieren a esta Política de
                                Privacidad, <span class=SpellE>donweb</span> es el responsable del tratamiento
                                de los datos. <span class=SpellE>Donweb</span> se compromete a asumir toda la
                                responsabilidad de la protección y la seguridad de los datos personales de
                                usted.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span>
                                </span>
                            </b><![endif]><span style='font-family:"Arial",sans-serif;mso-fareast-language:ES'>
                                <span style='mso-spacerun:yes'></span><b style='mso-bidi-font-weight:normal'>
                                    QUE
                                    DATOS PERSONALES SE RECOGEN<o:p></o:p>
                                </b>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Todas
                                nuestras actividades están basadas en estrictos principios éticos y nos
                                comprometemos a proporcionar un buen nivel de protección de la privacidad de
                                todos los visitantes de nuestro sitio Web. Por este motivo, la forma en que
                                recogemos y almacenamos información depende de cómo se utiliza nuestro sitio
                                Web y los servicios relacionados. Para registrarse en
                            </span><b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:
"Arial",sans-serif'>TECNO SHOP AND SERVICES</span>
                            </b><span style='font-size:
12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES'>
                                , sólo necesita introducir su dirección de email, una
                                contraseña y su fecha de nacimiento.&nbsp;<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>2.1 DATOS RECOGIDOS POR MEDIOS AUTOMÁTICOS
                                </span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                En nuestros
                                sitio Web se utilizan varias tecnologías para hacerlos más fáciles de usar, más
                                eficaces y seguros. Estas tecnologías pueden conllevar la recogida automática
                                de datos, tanto por nosotros como por terceros en nuestro nombre. Generalmente,
                                estos datos no contienen detalles personales sobre el usuario. Ejemplos de este
                                tipo de tecnologías son cookies, flash cookies y analíticas Web.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:3.75pt;line-height:normal;mso-outline-level:
4;background:white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>2.1.1 DATOS DE NAVEGACIÓN (CLICK-STREAM
                                    DATA)<o:p></o:p>
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>
                                Cuando usted visita uno de nuestros
                                sitios Web algunos datos son transmitidos de su navegador a nuestro servidor y
                                son recogidos y almacenados por nosotros o por terceros en nuestro nombre.
                                Estos datos pueden incluir en particular lo siguiente:<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l1 level1 lfo3;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                La dirección
                                IP del visitante<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l1 level1 lfo3;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                La fecha y
                                la hora de la visita&nbsp;<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l1 level1 lfo3;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                El URL del
                                sitio del que proviene el visitante&nbsp;<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l1 level1 lfo3;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Las páginas
                                visitadas en nuestro sitio Web&nbsp;<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l1 level1 lfo3;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Información
                                sobre el navegador utilizado (tipo y versión del navegador, sistema operativo,
                                etc.)<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;background:white'>
                            <span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:3.75pt;line-height:normal;mso-outline-level:
4;background:white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>2.1.2 COOKIES<o:p></o:p>
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Varios
                                lugares de nuestro sitio Web utilizan las llamadas cookies. Son esencialmente
                                pequeños ficheros de texto que su navegador almacena en el disco duro de su
                                ordenador o su dispositivo de usuario. Podemos usar las cookies para
                                identificar al titular de una cuenta de usuario y para almacenar artículos en
                                una cesta de la compra durante el proceso de compra. En otras palabras, las
                                cookies ayudan a que nuestro sitio Web sea más fácil de usar, más eficaz<span style='mso-spacerun:yes'></span>y más seguro. Normalmente, las cookies que
                                utilizamos son las llamadas “cookies de sesión”, que se borran automáticamente
                                al final de la visita al respectivo Sitio Web. En su defecto, los servidores
                                permiten el uso de las cookies, pero esa función también puede ser desactivada.
                                No obstante, si se desactiva la función no estarán disponibles algunos de
                                nuestros servicios. También es posible borrar manualmente las cookies a través
                                del servidor después de su uso. <span class=SpellE>Donweb</span> no conoce
                                ningún caso en los que las cookies hayan causado daños a un ordenador o
                                dispositivo de usuario, o facilitado ataques de virus.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>
                                Las siguientes ligas proporcionan
                                información específica sobre los servidores más comunes:<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l8 level1 lfo4;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Internet
                                Explorer:&nbsp;<a href="http://support.microsoft.com/gp/cookies/en"
                                                  target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:
none'>http://support.microsoft.com/gp/cookies/en</span>
                                </a><o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l8 level1 lfo4;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span lang=EN-US
                                                       style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
EN-US;mso-fareast-language:ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:ES'>
                                Mozilla Firefox:&nbsp;<a href="http://support.mozilla.com/en-US/kb/Cookies" target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:none'>http://support.mozilla.com/en-US/kb/Cookies</span>
                                </a><o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l8 level1 lfo4;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span lang=EN-US
                                                       style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
EN-US;mso-fareast-language:ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:ES'>
                                GoogleChrome:&nbsp;<a href="http://www.google.com/support/chrome/bin/ansnosotrosr.py?hl=en&amp;ansnosotrosr=95647"
                                                      target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:
none'>http://www.google.com/support/chrome/bin/ansnosotrosr.py?hl=en&amp;ansnosotrosr=95647</span>
                                </a><o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l8 level1 lfo4;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span lang=EN-US
                                                       style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
EN-US;mso-fareast-language:ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:ES'>
                                Safari:&nbsp;<a href="http://support.apple.com/kb/PH5042" target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:none'>http://support.apple.com/kb/PH5042</span>
                                </a><o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l8 level1 lfo4;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span lang=EN-US
                                                       style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
EN-US;mso-fareast-language:ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:ES'>
                                Opera:&nbsp;<a href="http://www.opera.com/browser/tutorials/security/privacy/" target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:none'>http://www.opera.com/browser/tutorials/security/privacy/</span>
                                </a><o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;background:white'>
                            <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>2.1.3 FLASH COOKIES
                                </span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Un tipo
                                especial de cookie es la conocida como “flash cookie”. En contraste con las
                                cookies normales, estas cookies no son creadas y guardadas por el servidor,
                                sino que están gobernadas por el conector Adobe Flash. Pueden contener más
                                información que las cookies normales y no pueden ser eliminadas o
                                deshabilitadas a través del navegador; esto sólo puede hacerse utilizando
                                herramientas como el sitio Web&nbsp;<a href="http://www.macromedia.com/support/documentation/de/flashplayer/help/settings_manager06.html"
                                                                       target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:
none'>Adobe Flash Player</span>
                                </a>. En dicho sitio también puede obtener
                                información sobre estas cookies.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:3.75pt;line-height:normal;mso-outline-level:
4;background:white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>2.1.4 WEB BEACONS Y TRACKING LINKS<o:p></o:p>
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Los Web <span class=SpellE>beacons</span> o contadores de visitantes (también conocidos como
                                pixel tags o GIF invisible) son elementos gráficos invisibles para el usuario.
                                Los tracking links (enlaces de seguimiento) o tecnologías similares son unas
                                cuantas líneas de código de programación y pueden estar incorporados a nuestro
                                sitio Web o aplicación (móvil). Se usan principalmente para fines estadísticos
                                y de análisis, conjuntamente con las cookies. Esta tecnología también puede
                                emplearse para seguir patrones de tráfico en los sitios Web, para comprobar si
                                un email ha sido recibido y abierto y para ver si ha habido alguna respuesta.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:3.75pt;line-height:normal;mso-outline-level:
4;background:white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>2.1.5 ANALÍTICAS WEB<o:p></o:p>
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Analíticas
                                Web (Web <span class=SpellE>analytics</span>) es el término con que se define
                                un método de recogida y evaluación del comportamiento de los visitantes de los
                                sitios Web y aplicaciones (móviles). Incluye el análisis de patrones de tráfico
                                para, por ejemplo, determinar la frecuencia de visitantes en determinadas
                                partes de un sitio Web o aplicación (móvil), o para averiguar qué información y
                                servicios interesan más a nuestros clientes. Para esos fines, utilizamos
                                principalmente datos de navegación (<span class=SpellE>click-stream</span>) y
                                las técnicas enumeradas arriba. Las analíticas Web se realizan por Google <span class=SpellE>Analitics</span>.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:3.75pt;line-height:normal;mso-outline-level:
3;background:white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>2.2 DATOS PROPORCIONADOS POR USTED<o:p></o:p>
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>
                                Además de los datos que se recogen
                                de forma automática, también procesamos los datos que usted nos proporciona.
                                Esto incluye, sin ánimo de exhaustividad:<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>&nbsp;<o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l7 level1 lfo5;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Su
                                información de contacto, incluidos su nombre y apellidos, la dirección (de
                                facturación o entrega), la fecha de nacimiento y la dirección de email y, de
                                forma opcional, su número de teléfono. Necesitamos su dirección de email y (de
                                forma opcional) su número de teléfono para poder contactar con usted si tenemos
                                preguntas o información sobre su pedido;<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l7 level1 lfo5;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Otra
                                información necesaria para poder tramitar su pedido, tal y como información
                                sobre los productos que usted ha encargado, la dirección de facturación y
                                entrega y los detalles de su banco o tarjeta de crédito;<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l7 level1 lfo5;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si usted ha
                                creado un perfil online, las preferencias e intereses almacenados en este
                                perfil (véase a continuación: información adicional sobre los perfiles);<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l7 level1 lfo5;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si usted se
                                ha puesto en contacto con atención al cliente, los detalles y el historial de
                                ese contacto.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l7 level1 lfo5;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Todos estos
                                datos se caracterizan porque es usted quien proporciona la información.
                                Utilizamos esta información para los fines descritos en esta política de
                                privacidad. Usted puede en todo momento corregir sus datos personales y
                                oponerse a que sigan siendo tratados (véase el apartado 5).<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l7 level1 lfo5;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span>
                                </span>
                            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-language:ES'>CÓMO SE USAN LOS DATOS RECOGIDOS<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Utilizaremos
                                la información que hemos recopilado sobre usted para proporcionarle una
                                agradable experiencia de compra, para tramitar sus pedidos y para comunicarle
                                ofertas sobre nuestros productos y servicios. Usaremos sus datos personales
                                para fines relacionados con su pedido; por ejemplo, para notificarle la
                                situación de su pedido o entrega. Podremos usar sus datos con la finalidad de
                                evaluar su solvencia, para lo cual podremos recurrir a terceros.&nbsp;Si usted
                                nos ha proporcionado sus datos personales en relación con una promoción,
                                evento, aplicación (móvil), etc., podremos enviarle emails y otros mensajes
                                relacionados con el servicio que ha solicitado.&nbsp;Si usted se pone en
                                contacto con atención al cliente, usaremos sus datos personales (incluido su
                                historial de contacto) para que atención al cliente pueda procesar su petición
                                y prestarse el mejor servicio posible.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si usted ha
                                dado su consentimiento para recibir boletines de noticias, se los enviaremos.
                                Si usted nos ha dado sus datos personales durante una venta de un producto o
                                servicio, le informaremos sobre productos o servicios similares. También
                                podremos contactarle para pedirle su opinión después de una venta de un
                                producto o servicio. Si se interrumpe un proceso de venta, le enviaremos un
                                email recordatorio. Usted puede darse de baja inmediatamente y de forma
                                gratuita de este tipo de notificaciones haciendo clic en un vínculo en el
                                correspondiente email u otro mensaje (véase a continuación en el apartado 5).<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span>
                                </span>
                            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-language:ES'>DIVULGACIÓN DE INFORMACIÓN<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Uno de
                                nuestros principios fundamentales dice que sus datos serán tratados
                                confidencialmente. Nosotros no venderemos sus datos a terceros. Si lo exige la
                                ley, sus datos serán revelados a terceros.&nbsp;<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Nosotros
                                podremos utilizar proveedores de servicios y procesadores de datos que trabajen
                                en nombre de
                            </span><b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif'>
                                    TECNO SHOP AND
                                    SERVICES
                                </span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                . Los
                                servicios pueden incluir servicios de alojamiento de sistemas y de
                                mantenimiento, servicios de análisis, servicios de mensajería por email,
                                servicios de entrega, gestión de transacciones de pago, controles de solvencia
                                y de dirección, etc. Se concede a estos terceros el acceso a dichos datos
                                personales que precisan para poder prestar el servicio correspondiente. Los
                                proveedores de servicios y los procesadores de datos están obligados
                                contractualmente a tratar la información con la más estricta confidencialidad.
                                Además, se les prohíbe contractualmente usar los datos en cualquier forma
                                distinta de la exigida. Se han emprendido los pasos necesarios para garantizar
                                que nuestros proveedores de servicios y los procesadores que trabajan en nombre
                                de
                            </span><b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;
font-family:"Arial",sans-serif'>TECNO SHOP AND SERVICES</span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>
                                protegen la confidencialidad de sus
                                datos. Puede haber ocasiones en las que revelemos datos no personales a
                                nuestros socios de forma anónima. Estos datos no personales incluyen, por
                                ejemplo, información sobre el número de visitantes de un sitio Web o una
                                aplicación (móvil) durante un determinado periodo de tiempo. Generalmente, esta
                                información sólo se revela de forma agrupada.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span>
                                </span>
                            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-language:ES'>SUS DERECHOS<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si usted nos
                                facilita datos personales a través de nuestro sitio Web o de otros canales,
                                esto se hace de forma totalmente voluntaria y usted nos concede su
                                consentimiento para que usemos dichos datos conforme a las estipulaciones de
                                esta política de privacidad. Si usted elige no proporcionar la información
                                solicitada, no podrá acceder a determinados beneficios de los clientes. En
                                algunos casos, sólo las personas que nos han proporcionado los datos personales
                                necesarios van a poder encargar productos, usar determinados servicios y
                                aprovechar de otras formas las actividades y ofertas disponibles en nuestro
                                sitio Web. Como la transparencia y el juego limpio son cuestiones
                                particularmente importantes para nosotros, ofrecemos varias opciones
                                dependiendo de las circunstancias concretas, para poder ayudarle a mantener el
                                control sobre sus datos. Estas opciones pueden incluir la posibilidad de
                                mostrar y editar sus datos online. También pueden incluir el darse de baja de
                                determinados servicios o borrar cuentas de usuario o recibir información sobre
                                los datos guardados.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
3.75pt;margin-left:46.5pt;mso-add-space:auto;text-indent:-19.5pt;mso-outline-level:
3;mso-list:l4 level2 lfo9;background:white'>
                            <![if !supportLists]><b>
                                <span style='font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;mso-fareast-language:
ES'>
                                    <span style='mso-list:Ignore'>
                                        5.1<span style='font:7.0pt "Times New Roman"'>
                                            &nbsp;
                                        </span>
                                    </span>
                                </span>
                            </b><![endif]><b>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-language:ES'>DERECHOS DE CANCELACIÓN Y OPOSICIÓN<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormalCxSpFirst style='margin-top:0cm;margin-right:0cm;margin-bottom:
3.75pt;margin-left:27.0pt;mso-add-space:auto;mso-outline-level:3;background:
white'>
                            <b>
                                <span style='font-family:"Arial",sans-serif;mso-fareast-language:
ES'><o:p>&nbsp;</o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si los
                                emails que
                            </span><b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif'>TECNO SHOP AND SERVICES</span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>
                                le envía, que contienen por ejemplo
                                un boletín de noticias o contenidos de marketing, tienen la opción de cancelar
                                la recepción de tales emails (darse de baja) siguiendo las instrucciones
                                pertinentes en el correspondiente email. Si no quiere seguir recibiendo
                                nuestros emails, puede hacer clic en dicho hipervínculo de baja y dejaremos de
                                enviarle emails en lo sucesivo.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si no desea
                                que se recopile y evalúe la información sobre su comportamiento en nuestro
                                sitio Web, puede elegir no participar en la recogida de datos para las
                                analíticas Web, tal y como se describe a continuación en el apartado 9.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si no desea
                                recibir información promocional y ofertas en general, incluidas las que se
                                comunican por correo ordinario, por email, por SMS, por teléfono o por cualquier
                                otro medio electrónico, o si desea retirar su consentimiento, puede escribir en
                                todo momento por email a&nbsp;<a href="https://www.ardobot.com/contacts"
                                                                 target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:
none'>ventas@ardobot.com</span>
                                </a>.En caso de que tengamos dudas sobre su
                                identidad, podemos pedirle que se identifique (por ejemplo, enviando una copia
                                de su pasaporte).<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Por lo que
                                respecta a otros tipos de mensajes que usted pueda recibir, como anuncios de
                                mantenimiento o notificaciones administrativas, la recepción de estos mensajes
                                sólo puede cancelarse si elimina su cuenta, dado que esos mensajes son una
                                parte obligatoria de las cuentas de usuario y del uso correspondiente de
                                nuestros sitios Web y aplicaciones (móviles). También puede eliminar su cuenta
                                enviando un email a&nbsp;<a href="https://www.ardobot.com/contacts"
                                                            target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:
none'>ventas@ardobot.com</span>
                                </a>.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:3.75pt;line-height:normal;mso-outline-level:
3;background:white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>5.2 DERECHO DE ACCESO<o:p></o:p>
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Usted tiene
                                derecho a ser informado en todo momento sobre los datos personales suyos que se
                                almacenan, sobre su origen y sus destinatarios, y sobre la finalidad para la
                                que se guardan estos datos. Puede obtener información sobre los datos
                                personales guardados utilizando los detalles de contacto del apartado sobre
                                Información de Contacto que se trata a continuación.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:3.75pt;line-height:normal;mso-outline-level:
3;background:white'>
                            <b>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                    <span style='mso-spacerun:yes'></span>5.3 DERECHO DE RECTIFICACIÓN<o:p></o:p>
                                </span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Usted tiene
                                derecho a pedir la corrección, la adición, la eliminación o el bloqueo de los
                                datos personales que se hayan guardado sobre usted. Le notificaremos en el
                                plazo de cuatro semanas después de recibir su petición si vamos a acceder a su
                                petición y, en tal caso, hasta qué punto. Si no podemos acceder a su petición
                                por cualquier motivo, le comunicaremos las razones<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span>
                                </span>
                            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-language:ES'>SEGURIDAD DE LA INFORMACIÓN E INTEGRIDAD DE LOS DATOS<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Nosotros
                                adoptamos las medidas técnicas y organizativas adecuadas para proteger los
                                datos personales contra su destrucción accidental o ilícita o su pérdida, su
                                alteración, uso, divulgación o acceso no autorizados, especialmente cuando el
                                tratamiento suponga la transmisión de los datos por redes, o cualquier otra
                                forma ilícita de tratamiento y uso indebido.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span>
                                </span>
                            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-language:ES'>PROTECCIÓN DE DATOS PERSONALES DE MENORES<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                La
                                protección de los datos personales de los menores es extremadamente importante.
                                <span class=SpellE>Donweb</span> considera que tiene la responsabilidad de
                                proteger la privacidad de los menores y, consecuentemente, no tiene intención
                                de recopilar datos de menores de 13 años. También animamos a los padres y otros
                                cuidadores a que naveguen por Internet junto con sus hijos y participen con
                                ellos en la multitud de actividades ofrecidas en la amplia gama de sitios de la
                                red (www).<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si un menor
                                de 13 años intenta registrarse, se le pedirá que proporcione la información
                                descrita en el apartado “Qué datos personales se recogen”. Asimismo, los datos
                                facilitados y recogidos sobre el menor durante el curso de su visita (por
                                ejemplo, a través de cookies) podrán utilizarse como se describe anteriormente.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si un menor
                                de 13 años intenta presentar una petición de registro, será rechazada y se le
                                notificará que no se aceptan las solicitudes de menores de 13 años. Por ese
                                motivo, pedimos a los padres y otros cuidadores que controlen y supervisen el
                                uso de Internet de los menores para poder protegerlos.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span>
                                </span>
                            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-language:ES'>REDES SOCIALES<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Nuestro
                                sitio Web y aplicaciones (móviles) proporcionan conectores sociales a varias
                                redes sociales. Cuando usted elige interactuar con una red social, su actividad
                                en nuestro Sitio Web o a través de aplicaciones (móviles) también será puesta a
                                disposición de redes sociales como Facebook y Twitter.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Si usted ha
                                iniciado sesión en una de las redes sociales durante la visita de uno de
                                nuestros sitios Web o aplicaciones (móviles), la red social podrá añadir esa
                                información a su perfil. Si usted interactúa con uno de los conectores
                                sociales, esa información será transferida a la red social. Si no desea que se
                                realice esa trasferencia de datos, salga de su sesión en la red social antes de
                                entrar en nuestros sitios Web o aplicaciones (móviles).<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                No está en
                                nuestra mano influir en esta recogida y trasferencia de datos a través de los
                                conectores sociales. Lea las políticas de privacidad de esas redes sociales para
                                información detallada sobre la recogida y transferencia de datos personales,
                                sobre los derechos que usted tiene y sobre cómo conseguir una configuración
                                satisfactoria de privacidad.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l2 level1 lfo6;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                &nbsp;Facebook:&nbsp;<a href="http://www.facebook.com/about/privacy/" target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:none'>http://www.facebook.com/about/privacy/</span>
                                </a><o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l2 level1 lfo6;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Twitter:&nbsp;<a href="http://twitter.com/privacy" target="_blank">
                                    <span style='color:windowtext;
text-decoration:none;text-underline:none'>http://twitter.com/privacy</span>
                                </a><o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l2 level1 lfo6;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Google+:&nbsp;<a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">
                                    <span style='color:windowtext;text-decoration:none;text-underline:none'>http://www.google.com/intl/en/policies/privacy/</span>
                                </a><o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;background:white'>
                            <span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span>
                                </span>
                            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-language:ES'>INFORMACIÓN DE CONTACTO<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>
                                Si tiene alguna pregunta sobre el
                                procesamiento de sus datos personales o sobre nuestra política de privacidad,
                                puede ponerse en contacto con nosotros. Nuestros datos de contacto son:<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l0 level1 lfo7;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif'>
                                Tecno
                                Shop And <span class=SpellE>Services</span>
                            </span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l0 level1 lfo7;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Departamento
                                Legal<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l0 level1 lfo7;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Bello,
                                Antioquia.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l0 level1 lfo7;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>Colombia<o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l0 level1 lfo7;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif'>servicio_clientes@tecnoshopandservices.com</span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;background:white'>
                            <span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
11.25pt;margin-left:36.0pt;mso-add-space:auto;text-indent:-18.0pt;mso-outline-level:
2;mso-list:l4 level1 lfo9;background:white'>
                            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    <span style='mso-list:
Ignore'>10.<span style='font:7.0pt "Times New Roman"'> </span></span>
                                </span>
                            </b><![endif]><span style='font-family:"Arial",sans-serif;mso-fareast-language:ES'>
                                <span style='mso-spacerun:yes'></span><b style='mso-bidi-font-weight:normal'>
                                    CAMBIOS
                                    EN ESTA POLÍTICA<o:p></o:p>
                                </b>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;
font-family:"Arial",sans-serif'>TECNO SHOP AND SERVICES</span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES'>
                                se ha comprometido a respetar los
                                principios fundamentales de Protección de Datos y considera que la política de
                                privacidad tiene carácter vinculante. Por consiguiente, revisamos
                                periódicamente nuestra política de privacidad para asegurar que está libre de
                                errores, que es claramente visible en nuestro sitio web, que contiene toda la
                                información requerida, que se aplica plenamente y que cumple los principios de
                                Protección de Datos. Esta política de privacidad puede ser modificada de cuando
                                en cuando, para mantenerla coherente con los cambios y oportunidades que ofrece
                                Internet y acorde con la legislación vigente. No restringiremos los derechos
                                que se le hayan concedido conforme a esta política de privacidad si no contamos
                                con su consentimiento expreso. Los cambios significativos de la política serán
                                publicados en nuestro sitio Web con una versión actualizada de la política de
                                privacidad.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;mso-list:l6 level1 lfo8;
tab-stops:list 36.0pt;background:white'>
                            <![if !supportLists]><span style='font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-fareast-language:
ES'>
                                <span style='mso-list:Ignore'>
                                    ·<span style='font:7.0pt "Times New Roman"'>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </span>
                            </span><![endif]><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
                                Fecha y
                                lugar de la última actualización: Bello, Antioquia, Colombia 16 de Agosto<span style='mso-spacerun:yes'></span>de 2018.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
                        </p>

                        <h1 style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-bidi-font-weight:normal'>Política de protección de datos.<o:p></o:p></span>
                        </h1>

                        <h2 style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;
font-weight:normal'>La protección de sus datos es fundamental para nosotros<o:p></o:p></span>
                        </h2>

                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;text-align:justify;background:white'>
                            <span style='font-family:"Arial",sans-serif'>
                                Conforme
                                a la Ley 1581 de 2012 y al Decreto 1377 de 2013, <b style='mso-bidi-font-weight:
normal'>TECNO SHOP AND SERVICES</b>, considerada como Responsable y/o Encargada
                                del tratamiento de datos personales que almacena y recolecta de sus clientes en
                                desarrollo de sus actividades comerciales, de ventas de sus productos en su red
                                de almacenes o en los canales en línea, o en eventos promocionales, entre
                                otros, requiere obtener su autorización para continuar con el tratamiento de
                                sus datos personales conforme a la política de privacidad para el tratamiento
                                de sus datos personales las cuales están disponibles en <span class=MsoHyperlink><a href="http://www.tecnoshopandservices.com">www.tecnoshopandservices.com</a></span>
                                <o:p></o:p>
                            </span>
                        </p>

                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;text-align:justify;background:white'>
                            <span style='font-family:"Arial",sans-serif'>
                                Esta
                                información suministrada podrá ser procesada, recolectada, almacenada, usada,
                                circulada, suprimida, compartida, actualizada, transmitida y/o transferida a
                                terceros países de acuerdo y conforme a nuestras políticas de tratamiento y con
                                el fin de continuar desarrollando nuestras actividades comerciales y
                                promocionales para mantenerlo informado acerca de novedades en nuestros
                                productos, promociones, ofertas y en general, acerca de cualquier aspecto
                                relacionado con nuestra actividad comercial.<o:p></o:p>
                            </span>
                        </p>

                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;text-align:justify;background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span style='font-family:"Arial",sans-serif'>TECNO SHOP AND SERVICES</span>
                            </b><span style='font-family:"Arial",sans-serif'>
                                , en los términos dispuestos por el
                                artículo 10 del decreto 1377 de 2013 queda autorizada de manera expresa e
                                inequívoca para mantener y manejar su información, a no ser que usted le manifieste
                                lo contrario de manera directa, expresa o inequívoca, &nbsp;por escrito, a la
                                dirección de correo electrónico dispuesta para tal efecto
                                servicio_clientes@tecnoshopandservices.com o llamando a la línea de atención
                                No. 319 355 4837, dentro de los treinta (30) días hábiles contados a partir de
                                la recepción de la presente comunicación.<o:p></o:p>
                            </span>
                        </p>

                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;text-align:justify;background:white'>
                            <span style='font-family:"Arial",sans-serif'>
                                Para
                                conocer nuestras políticas de tratamiento y el modo en que puede ejercer sus
                                derechos de conocer, actualizar, rectificar y suprimir por favor consulte
                                nuestra página web <span class=MsoHyperlink>
                                    <a href="http://www.tecnoshopandservices.com">www.tecnoshopandservices.com</a>
                                </span>
                                o escribanos al siguiente correo servicio_clientes@tecnoshopandservices.com.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'><span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'><span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>


                    </div>
                    <!-- End Content -->



                </div>
            </div>
            <!-- End Main Content -->
            <!-- END Content-->
        </div>
        @Html.Widget("content_after")
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")


