.@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page">
    @Html.Action("AdminHeaderLinks", "Common")
    @Html.Partial("Header")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
  
    <div class="master-wrapper-content">
        @Html.Widget("content_before")
        
        <div class="master-column-wrapper">
            <!-- Content-->
            <!-- Breadcrumbs -->
            <div class="breadcrumb-container">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Inicio</a></li>
                        <li class="active">Preguntas Frecuentes</li>
                    </ol>
                </div>
            </div>
            <!-- End Breadcrumbs -->
            <!-- Main Content -->
            <div class="container m-t-3">
                <div class="row">

                    <!-- Content -->
                    <div class="col-sm-8">
                        


                    </div>
                    <!-- End Content -->



                </div>
            </div>
            <!-- End Main Content -->
            <!-- END Content-->
        </div>
        @Html.Widget("content_after")
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")


