.@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page">
    @Html.Action("AdminHeaderLinks", "Common")
    @Html.Partial("Header")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
  
    <div class="master-wrapper-content">
        @Html.Widget("content_before")
        
        <div class="master-column-wrapper">
            <!-- Content-->
            <!-- Breadcrumbs -->
            <div class="breadcrumb-container">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Inicio</a></li>
                        <li class="active">Términos y condiciones</li>
                    </ol>
                </div>
            </div>
            <!-- End Breadcrumbs -->
            <!-- Main Content -->
            <div class="container m-t-3">
                <div class="row">

                    <!-- Content -->
                    <div class="col-sm-8">

                        <p class=MsoNormal style='line-height:normal'>
                            <span style='font-size:12.0pt;
font-family:"Arial",sans-serif'>* Términos y Condiciones<o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
text-align:justify;line-height:normal'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'>TERMINOS Y CONDICIONES GENERALES</span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
text-align:justify;line-height:normal'>
                            <span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'>
                                Mediante este contrato se describen los términos y condiciones
                                generales aplicables al acceso y uso de los servicios ofrecidos por&nbsp;<b style='mso-bidi-font-weight:normal'>TECNO SHOP AND SERVICES</b>, empresa
                                legalmente constituida bajo las leyes de la República de Colombia, identificada
                                con NIT 1020416593-6 y con Matricula Mercantil No.21-592776-01 de la Cámara de
                                Comercio de Medellín, domiciliada en la ciudad de Bello, Antioquia. <o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                La persona deberá haber leído y entendido lo que
                                aquí se ha estipulado y esto se da por inferido para cualquier persona que
                                acepta todos los Términos y Condiciones Generales, junto con todas las demás
                                políticas y principios que rigen&nbsp;<i> </i><b style='mso-bidi-font-weight:
normal'><span style='mso-bidi-font-style:italic'>TECNO SHOP AND SERVICES </span></b><i>&nbsp;</i>y
                                que son incorporados al presente por referencia.
                            </span><span style='font-size:
12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                Por lo anterior, todas las visitas y cada una de
                                las operaciones y transacciones que se realicen en este sitio web, como
                                asimismo sus efectos jurídicos, quedarán regidos por estas reglas y sometidas a
                                la legislación aplicable en la República de Colombia.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y
                                CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE,
                                DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                El usuario al aceptar plenamente estas
                                condiciones de Términos y Condiciones Generales está obligado a cumplir
                                expresamente con las mismas.
                            </span><span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>1. &nbsp;&nbsp;&nbsp;</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>Formalización del contrato</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'></span>
                            </b><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                Las personas naturales o jurídicas, podrán hacer
                                pedido de productos o servicios siempre y cuando tengan capacidad legal para
                                contratar. Las personas deberán tener 15 años o más para poder hacer compras a
                                través de nuestro sitio web con previo registro y verificación de datos. Los
                                pedidos realizados a través de nuestro sitio web son una oferta para celebrar
                                un contrato de venta, el contrato se hará efectivo cuando TECNO SHOP AND
                                SERVICE le confirme por medio de un email el pedido. Hasta que usted reciba el
                                email de confirmación podrá cancelar su pedido. TECNO SHOP AND SERVICE tiene
                                derecho de suspender e inhabilitar a usuarios que considere necesario.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>2. &nbsp;&nbsp;&nbsp;</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>Registro</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'></span>
                            </b><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                Es deber del usuario registrarse en nuestro
                                sitio web para adquirir un producto o servicio, el usuario garantizará que los
                                datos allí proporcionados en el registro son válidos y exactos, así como
                                asumirá actualizar sus datos antes de realizar un pedido si algunos de los
                                datos antes registrados ya no son válidos. TECNO SHOP AND SERVICE se reserva el
                                derecho de solicitar algún comprobante y/o dato adicional para corroborar datos
                                ingresados en el registro por el usuario en caso que fuera necesario, si el
                                usuario se niega se dará de baja la compra sin derecho a resarcimiento.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                El registro del usuario le dará derecho a una
                                cuenta en donde tendrá nombre y contraseña única, que le permitirá tener acceso
                                personalizado, confidencial y seguro. El usuario podrá hacer cambio de su clave
                                por medio del procedimiento suministrado en nuestro sitio web. Esta cuenta
                                tiene una clave de acceso única por usuario y el usuario es responsable de
                                ella, como de los datos suministrados en la cuenta y compras. La entrega de la
                                clave a terceros es responsabilidad del usuario y no compromete ni involucra
                                responsabilidad a TECNO SHOP AND SERVICE, en el caso de pérdida de la clave
                                deberá informar por medio de un email para su recuperación y cambio.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                TECNO SHOP AND SERVICES<i>&nbsp;</i>se reserva
                                el derecho de rechazar cualquier solicitud de registración o de cancelar una
                                registración previamente aceptada, sin que esté obligado a comunicar o exponer
                                las razones de su decisión y sin que ello genere algún derecho a indemnización
                                o resarcimiento.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>3. &nbsp;&nbsp;&nbsp;</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>Privacidad de la Información</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'></span>
                            </b><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                Para utilizar los Servicios ofrecidos por&nbsp;<i>
                                </i><span style='mso-bidi-font-style:italic'>TECNO SHOP AND SERVICES<i>, </i></span>&nbsp;Los
                                datos suministrados por él usuario de carácter personal son almacenados por
                                terceros que nos ofrecen el servicio de servidor. Para mayor información sobre
                                la privacidad de los Datos Personales y casos en los que será revelada la
                                información personal, se pueden consultar nuestras Políticas de Privacidad.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>4. &nbsp;&nbsp;&nbsp;</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>
                                    Modificación de Términos y
                                    Condiciones Generales
                                </span>
                            </b><span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                TECNO SHOP AND SERVICES podrá modificar sin
                                previo aviso los Términos y Condiciones Generales en cualquier momento haciendo
                                públicas estas modificaciones en el sitio web.
                            </span><span style='font-size:
12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>5. &nbsp;&nbsp;&nbsp;</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>
                                    Procedimientos de Compra de
                                    productos y/o servicios
                                </span>
                            </b><span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                TECNO SHOP AND SERVICES ofrecerá por medio del
                                sitio web los procedimientos paso a paso para poder contratar con nosotros. Es
                                por esto que de manera inequívoca y concreta informará al usuario sus
                                procedimientos. El solo hecho de seguir nuestros pasos que para tales efectos
                                se indica en el sitio para una compra o un servicio, aceptar que TECNO SHOP AND
                                SERVICES ha dado cumplimiento a las condiciones contenidas en este número. El
                                usuario deberá verificar sus datos antes de contratar y acepta que los datos
                                personales son verdaderos al momento de su compra.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>6. &nbsp;&nbsp;&nbsp;</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>Compra de Productos</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'></span>
                            </b><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                El usuario podrá realizar compra de productos a
                                través de nuestro sitio web, previamente registrado, en donde escogerá el
                                producto y cantidad de este. TECNO SHOP AND SERVICES ofrecerá información de
                                algunas características del producto, si el usuario desea saber más sobre estas
                                características podrá solicitar esta información adicional por los medios de
                                comunicaciones ofrecidos e informados en el sitio web. Cuando el usuario compra
                                en nuestro sitio web acepta el producto con las características informadas.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                Los productos adquiridos a través de nuestro
                                sitio web están sujetos a las condiciones de despacho, existencia y entrega
                                disponibles en el sitio. Los plazos de entregas para el despacho y entrega, se
                                cuentan desde que TECNO SHOP AND SERVICES haya valido y confirmado la orden de
                                compra por medio de un email. Para validar la orden de compra primero se
                                confirmará el pago y después si se enviará el email de confirmación de la orden
                                de compra. TECNO SHOP AND SERVICES realizará la entrega en la dirección
                                suministrada por el usuario en el registro de su cuenta dentro del territorio
                                colombiano, las entregas se realizarán en días hábiles, excepto festivos. Cada
                                uno de los envíos individuales constituirá un contrato independiente.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'>
                                Si TECNO SHOP AND SERVICES se
                                retrasa en la entrega de un envío o uno de los envíos no es correcto, esto no
                                le dará derecho a cancelar ningún otro envío. Los periodos de entrega son
                                indicativos y, por consiguiente, no se consideran fechas límite estrictas. El
                                mero hecho de haber excedido un periodo de entrega no le dará ningún derecho de
                                compensación. En el momento de aceptar y confirmar la compra con el usuario por
                                medio de un email, TECNO SHOP AND SERVICES tendrá 10 días hábiles para despachar
                                el pedido y le informará al usuario por medio de un email, fecha de envió y
                                tiempo estimado de entrega. <o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES-CO'>
                                En caso
                                de problemas de entrega, Si TECNO SHOP AND SERVICES descubre antes de celebrar
                                el contrato que no puede suministrar los productos pedidos, podrá ofrecerle un
                                producto equivalente en términos de calidad, precio y función. Usted no estará
                                obligado a aceptar el producto de sustitución. <o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                TECNO SHOP AND SERVICES no está obligada a
                                aceptar un pedido, tendrá derecho en todo momento a verificar un pedido<span style='mso-spacerun:yes'></span>por anticipado<span style='mso-spacerun:yes'></span>o a rechazar un pedido sin necesidad de
                                alegar razones. Si no se confirma su pedido en el plazo de 10 días hábiles, se
                                considera rechazado.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                El cliente al realizar una compra acepta pagar
                                su pedido en los plazos indicados al momento de su compra, y acepta él envió de
                                una factura electrónica al correo registrado y esto exime a TECNO SHOP AND SERVICES
                                de enviar una factura física, salvo en caso de daños técnicos se enviará una
                                factura manual. La aceptación de la factura, se entenderá con la notificación
                                de recibido o leído del correo electrónico de remisión de la factura para todos
                                los efectos legales.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
text-align:justify;line-height:normal'>
                            <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>
                                Si TECNO SHOP AND SERVICES
                                descubre después de celebrar el contrato que no puede suministrar los productos
                                pedidos y no es responsable de esta situación, tendrá derecho a terminar el
                                contrato. Naturalmente, TECNO SHOP AND SERVICES le informará inmediatamente al
                                respecto y le reembolsará los pagos que haya realizado.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>7. &nbsp;&nbsp;&nbsp;</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>Compra de servicios</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'></span>
                            </b><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                TECNO SHOP AND SERVICES ofrece servicios
                                relacionados a brindar soluciones tecnológicas a nuestros usuarios. Para la
                                compra de estos servicios el usuario podrá consultar sin ningún costo por medio
                                de un correo electrónico nuestros servicios o dar a conocer alguna necesidad
                                que se le pueda presentar. Por los medios disponibles de comunicaciones
                                informados en el sitio TECNO SHOP AND SERVICES se contactara al usuario para
                                realizar aclaraciones y concretar un contrato si fuera el caso positivo de
                                realización. TECNO SHOP AND SERVICES se reserva el derecho de aceptar o
                                rechazar las solicitudes de servicios. El hecho de tener contacto con el
                                usuario no se entiende como una aceptación de contrato para prestar un
                                servicio, hasta que de manera concreta y exacta se confirme por medio de un
                                email la aceptación para un contrato.
                            </span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormalCxSpMiddle style='mso-margin-top-alt:auto;margin-bottom:11.25pt;
mso-add-space:auto;text-align:justify;line-height:normal;background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:Arial;mso-fareast-language:ES'>
                                    8.
                                    &nbsp;&nbsp;&nbsp;
                                </span>
                            </b><b>
                                <span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES'>Nuestras Ofertas y Precios</span>
                            </b><b>
                                <span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormalCxSpMiddle style='mso-margin-top-alt:auto;margin-bottom:11.25pt;
margin-left:18.0pt;mso-add-space:auto;text-align:justify;text-indent:-18.0pt;
line-height:normal;background:white'>
                            <span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES-CO'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:11.25pt;
text-align:justify;line-height:normal;background:white'>
                            <span style='font-size:
12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES'>
                                Las ofertas en nuestro Sitio Web son sin compromiso y
                                no vinculan a TECNO SHOP AND SERVICES. TECNO SHOP AND SERVICES no quedará
                                obligada por errores manifiestos de transcripción, equivocaciones en
                                descripciones promocionales y en otras declaraciones en la oferta y en nuestro
                                sitio Web. Es posible que se produzcan variaciones pequeñas de color u otro
                                tipo de variaciones menores en productos, como consecuencia de las diferentes
                                tecnologías de adquisición de imagen y exhibición, o por otras razones
                                técnicas. TECNO SHOP AND SERVICES no se hace responsable de estas variaciones y
                                desviaciones.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:11.25pt;
text-align:justify;line-height:normal;background:white'>
                            <span style='font-size:
12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES'>
                                No todos los productos incluyen IVA. Los precios se
                                expresan en pesos colombianos. TECNO SHOP AND SERVICES se reserva el derecho de
                                hacer cambios en los precios y el producto con anterioridad a un pedido
                                realizado por usted. TECNO SHOP AND SERVICES se reserva el derecho a cambiar,
                                limitar o dar por terminadas ofertas especiales o promociones en cualquier
                                momento.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:11.25pt;
text-align:justify;line-height:normal;background:white'>
                            <span style='font-size:
12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES'>
                                TECNO SHOP AND SERVICES cobra gastos de envío. Los
                                gastos de envío varían para cada producto y están detallados en el apartado
                                “Gastos de Envío” de nuestro Sitio Web. Estos gastos se facturarán, cuando
                                proceda, por separado y se especificarán y sumarán al importe total del pedido.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:11.25pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>9. &nbsp;&nbsp;&nbsp;</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>Medios de Pago en el sitio web</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'></span>
                            </b><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                Los productos y servicios ofrecidos en este
                                sitio, salvo que se señale una forma diferente para casos particulares u
                                ofertas de determinados bienes o servicios son los siguientes:
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>Consignación nacional a cuenta Bancolombia</span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>Transferencia por sucursal virtual, PAC o APP</span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                El sitio podrá indicar condiciones
                                extraordinarias de compra según el medio de pago que se utilice por el usuario.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                TECNO SHOP AND SERVICES llevará a cabo un
                                control individual de crédito para cada compra de conformidad con la Política
                                de Privacidad. Dependiendo de los resultados de este control, TECNO SHOP AND
                                SERVICES se reserva el derecho a rechazar ciertos métodos de pago.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>10.</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>Origen de los fondos</span>
                            </b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
text-align:justify;line-height:normal;background:white'>
                            <span lang=ES
                                  style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:ES;mso-fareast-language:ES-CO'>
                                El cliente
                                solemnemente declara y sostiene:
                            </span><span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'></span><span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
text-align:justify;line-height:normal;background:white'>
                            <b style='mso-bidi-font-weight:
normal'>
                                <span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:ES;mso-fareast-language:
ES-CO'>A.</span>
                            </b><span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:ES;mso-fareast-language:
ES-CO'>
                                Los recursos con los cuales efectuó la compra, provienen de operación,
                                oficio, profesión actividad o negocio lícito. <o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
text-align:justify;line-height:normal;background:white'>
                            <b style='mso-bidi-font-weight:
normal'>
                                <span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:ES;mso-fareast-language:
ES-CO'>B.</span>
                            </b><span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:ES;mso-fareast-language:
ES-CO'>
                                Los dineros con los que efectuó la compra NO fueron obtenidos en virtud
                                de cualquier tipo de conducta que esté consagrada en la ley colombiana como
                                falta constitutiva de infracción penal.
                            </span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
text-align:justify;line-height:normal;background:white'>
                            <b style='mso-bidi-font-weight:
normal'>
                                <span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:ES;mso-fareast-language:
ES-CO'>C.</span>
                            </b><span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-ansi-language:ES;mso-fareast-language:
ES-CO'>
                                Nunca he permitido que terceras personas utilicen mis cuentas o mis
                                tarjetas de crédito o débito para consignar o administrar dineros que
                                desconozca su origen o provengan de conductas contrarias a la ley y
                                especialmente a la ley penal.
                            </span><span style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-fareast-language:
ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:ES;mso-fareast-language:ES-CO'>D.</span>
                            </b><span lang=ES style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-ansi-language:ES;mso-fareast-language:ES-CO'>
                                Eximo a
                                TECNO SHOP AND SERVICES, de toda responsabilidad por la información errónea,
                                falsa, inexacta que se hubiese suministrado en este documento o por la
                                violación del mismo, de tal suerte que seré el único responsable por ello.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>&nbsp;</span><span style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;
margin-left:36.0pt;text-align:justify;text-indent:-36.0pt;line-height:normal;
background:white'>
                            <b style='mso-bidi-font-weight:normal'>
                                <span lang=ES
                                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:ES;mso-fareast-language:ES-CO'>11.</span>
                            </b><b style='mso-bidi-font-weight:normal'>
                                <span lang=ES style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-ansi-language:ES;mso-fareast-language:ES-CO'>Cambios y Devoluciones<o:p></o:p></span>
                            </b>
                        </p>

                        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:7.5pt;
margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
background:white'>
                            <span style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES-CO'><o:p>&nbsp;</o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                El comprador podrá reclamar en contra de la
                                mercancía recibida dentro de los diez (10) días calendarios siguientes a su
                                recepción. (Art 2 Ley 1231 de 2008.) El consumidor podrá proceder a la
                                devolución del producto adquirido, en perfecto estado de uso y conservación,
                                junto con sus etiquetas, embalaje y accesorios originales, también en perfecto
                                estado, y acompañando de su factura. En el momento de recibo el producto, este
                                se verificara por personal de TECNO SHOP AND SERVICES quien debe revisar su
                                perfecto estado de uso y conservación junto con sus etiquetas, embalaje y
                                accesorios originales, también en perfecto estado, y acompañando de su factura.
                                Para tramitar cambios y devoluciones el usuario o comprador deberá contactarse
                                con TECNO SHOP AND SERVICES por medio de un email especificando en el tema de
                                Asunto si es CAMBIO o DEVOLUCIÓN, el cual deberá ser respondido dentro de los
                                siguientes (5) cinco días hábiles a la fecha de recibido y confirmación del
                                día. Los gatos de envió deberán ser asumidos por el usuario o comprador. Si al
                                momento de recibir el producto no cumple con el estado de buen uso, daño
                                alguno, falta de accesorios, de empaques originales se le descontará un
                                porcentaje del producto para después venderlo o si el daño que presente o falta
                                de accesorios es de tan magnitud que sea imposible volverlo a vender, no se procederá
                                a la devolución alguno del costo del producto. No se realizarán devoluciones
                                bajo ninguna circunstancia si el/los productos solicitados no se adaptan a la
                                necesidad del cliente y será este el responsable de asegurar que el producto
                                cumple con las especificaciones de su necesidad.
                            </span><span style='font-size:
12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                Solo se procederá a la devolución si el producto
                                recibido no corresponde bajo ninguna circunstancia al producto ofertado, no
                                aplica para cambios estéticos que no alteren el funcionamiento del producto.
                            </span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
"Times New Roman";mso-fareast-language:ES-CO'><o:p></o:p></span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'>
                                La devolución se hará durante los próximos diez
                                (10) días hábiles posteriores a la radicación del proceso de devolución sin
                                exceder los treinta (30) días.<o:p></o:p>
                            </span>
                        </p>

                        <p class=MsoNormal style='margin-bottom:7.5pt;text-align:justify;line-height:
normal;background:white'>
                            <span lang=ES style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";mso-ansi-language:
ES;mso-fareast-language:ES-CO'><o:p>&nbsp;</o:p></span>
                        </p>


                    </div>
                    <!-- End Content -->



                </div>
            </div>
            <!-- End Main Content -->
            <!-- END Content-->
        </div>
        @Html.Widget("content_after")
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")


