@model CustomerOrderListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order;
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Pedidos })
}
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerPedidos")</h1>
    </div>
    <div class="page-body">
        @if (Model.RecurringPedidos.Count > 0)
        {
            <div class="section recurring-payments">
                <div class="title">
                    <strong>@T("Account.CustomerPedidos.RecurringPedidos")</strong>
                </div>
                @using (Html.BeginForm())
                {
                    var canRetryRecurringPedidos = Model.RecurringPedidos.Any(recurring => recurring.CanRetryLastPayment);

                    @Html.AntiForgeryToken()
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                @if (canRetryRecurringPedidos) { <col /> }
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="start-date">
                                        @T("Account.CustomerPedidos.RecurringPedidos.StartDate")
                                    </th>
                                    <th class="cycle-info">
                                        @T("Account.CustomerPedidos.RecurringPedidos.CycleInfo")
                                    </th>
                                    <th class="next-payment">
                                        @T("Account.CustomerPedidos.RecurringPedidos.NextPayment")
                                    </th>
                                    <th class="total-cycles">
                                        @T("Account.CustomerPedidos.RecurringPedidos.TotalCycles")
                                    </th>
                                    <th class="cycles-remaining">
                                        @T("Account.CustomerPedidos.RecurringPedidos.CyclesRemaining")
                                    </th>
                                    <th class="initial-order">
                                        @T("Account.CustomerPedidos.RecurringPedidos.InitialOrder")
                                    </th>
                                    @if (canRetryRecurringPedidos)
                                    {
                                        <th class="retry">
                                            @T("Account.CustomerPedidos.RecurringPedidos.RetryLastPayment")
                                        </th>
                                    }
                                    <th class="cancel">
                                        @T("Account.CustomerPedidos.RecurringPedidos.Cancel")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.RecurringPedidos)
                                {
                                    <tr>
                                        <td class="start-date">
                                            @item.StartDate
                                        </td>
                                        <td class="cycle-info">
                                            @item.CycleInfo
                                        </td>
                                        <td class="next-payment">
                                            @item.NextPayment
                                        </td>
                                        <td class="total-cycles">
                                            @item.TotalCycles
                                        </td>
                                        <td class="cycles-remaining">
                                            @item.CyclesRemaining
                                        </td>
                                        <td class="initial-order">
                                            <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.InitialOrderId })">@string.Format(T("Account.CustomerPedidos.RecurringPedidos.ViewInitialOrder").Text, item.InitialOrderNumber)</a>
                                        </td>
                                        @if (canRetryRecurringPedidos)
                                        {
                                            <td class="retry">
                                                @if (item.CanRetryLastPayment)
                                                {
                                                    <input type="submit" name="retryLastPayment_@(item.Id)" value="@T("Account.CustomerPedidos.RecurringPedidos.RetryLastPayment")" class="button-2 retry-recurring-order-button" />
                                                }
                                            </td>
                                        }
                                        <td class="cancel">
                                            @if (item.CanCancel)
                                            {
                                                <input type="submit" name="cancelRecurringPayment@(item.Id)" value="@T("Account.CustomerPedidos.RecurringPedidos.Cancel")" class="button-2 cancel-recurring-order-button" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            if (Model.RecurringPaymentErrors.Any())
            {
                <div class="message-error">
                    <ul>
                        @foreach (var error in Model.RecurringPaymentErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
        }
        
        @if (Model.Pedidos.Count > 0)
        {
            <div class="order-list">
                @foreach (var order in Model.Pedidos)
                {
                <div class="section order-item">
                    <div class="title">
                        <strong>@T("Account.CustomerPedidos.OrderNumber"): @order.CustomOrderNumber</strong>
                    </div>
                    <ul class="info">
                        <li>@T("Account.CustomerPedidos.Pedidostatus"): <span class="order-status @order.PedidostatusEnum.ToString().ToLowerInvariant()">@order.Pedidostatus</span></li>
                        <li>@T("Account.CustomerPedidos.OrderDate"): <span class="order-date">@order.CreatedOn.ToString()</span></li>
                        <li>@T("Account.CustomerPedidos.OrderTotal"): <span class="order-total">@order.OrderTotal</span></li>
                    </ul>
                    <div class="buttons">
                        @if (order.IsReturnRequestAllowed)
                        {
                            <input type="button" value="@T("Account.CustomerPedidos.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = order.Id })')" />
                        }
                        <input type="button" value="@T("Account.CustomerPedidos.OrderDetails")" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" />
                    </div>
                </div>
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerPedidos.NoPedidos")
            </div>
        }
    </div>
</div>
